# --- Datasets ---
data/
datasets/
*.zip
*.tar.gz

# --- Python & Virtual Environments ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- ML Models & Weights ---
# Ignore large model files (H5, PKL, TFLITE, ONNX, etc.)
*.h5
*.pth
*.pkl
*.model
*.tflite
*.pb
saved_model/

# --- macOS / OS System files ---
.DS_Store
.AppleDouble
.LSOverride