<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Classification</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Which animal is that?</h1>
        <h2>Deep learning for the animal kingdom</h2>
        <div class="info-section">
          <p>Our AI is trained to recognize <strong>10 species</strong>:</p>
          <p>
            Butterfly, Cat, Chicken, Cow, Horse, Dog, Elephant, Sheep, Spider,
            Squirrel
          </p>
        </div>
      </div>
      <form
        id="upload-form"
        action="/classify"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="upload-group">
          <h3>Upload Image</h3>

          <div id="upload-box">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#1685fa"
              class="size-6"
              width="48"
              height="48"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"
              />
            </svg>

            <img
              id="image-preview"
              src="#"
              alt="Preview"
              style="display: none; max-width: 100%; border-radius: 12px"
            />

            <div class="text-btn">
              <p id="upload-text">Drop file here or upload</p>
              <button type="button" id="browse-btn">Browse</button>
            </div>

            <input
              type="file"
              name="file"
              id="file-input"
              class="hidden"
              accept="image/*"
              style="display: none"
            />
          </div>

          <button
            type="submit"
            id="upload-btn"
            disabled
            style="opacity: 0.5; cursor: not-allowed"
          >
            Analyze Image
          </button>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
