* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Outfit", sans-serif;
  color: #3c3f42;
}
button,
input,
select,
textarea {
  font-family: inherit;
}
h1 {
  margin-bottom: 5px;
  font-weight: 500;
  text-align: center;
}
h2 {
  font-weight: 400;
  font-size: 16pt;
  margin-bottom: 20px;
  text-align: center;
}
h3 {
  font-weight: 400;
}
header {
  width: 100%;
  text-align: center;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #c2dfff;
}
.upload-group {
  background-color: #e8f3ff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
#upload-box {
  transition: all 0.3s ease;
  width: 250px;
  height: 250px;
  border: 1px dashed #1685fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555a5c;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  gap: 30px;
}

#browse-btn {
  border-radius: 100px;
  padding: 8px 15px;
  color: #1685fa;
  border: 1px solid #1685fa;
  background-color: transparent;
}
#browse-btn:hover {
  cursor: pointer;
  color: #02386b;
  border: 1px solid #02386b;
}
#upload-btn {
  border-radius: 100px;
  padding: 8px 15px;
  color: white;
  background-color: #02386b;
  border: none;
}
.text-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#image-preview {
  max-height: 70%;
  max-width: 70%;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 15px;
  display: none;
}
.info-section {
  width: 100%;
  margin-bottom: 20px;
}
.info-section p {
  line-height: 1.3;
  font-style: italic;
  text-align: center;
}
